{% extends 'base.html.twig' %}




    
{% block title %}Formulaire de création d'un admin{% endblock %}
{% block header %} <h4>Créer un Admin</h4> {% endblock %}

{% block content %}

    {{ include('admin/_form.html.twig') }}
<div class="row back">
        <div class="col-4">
            <a href="{{ path('admin_index') }}" class="btn btn-secondary "> <i class="bi bi-arrow-90deg-left"></i> Retour à la liste </a>

        </div>
    </div>
    <a href="{{ path('admin_index') }}">back to list</a>
{% endblock %}
