{% extends('base.html.twig') %}

{% block title %}About{% endblock %}
{% block header %}
    <h1> {{ titre }}</h1>
{% endblock %}

{% block content %} 
<div class="col-5">
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
           ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull
           amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehende
           rit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur si nt occae
           cat cupidatat non proident, sunt in culpa qui offi cia deserunt mollit anim id est laborum 
        </p>
<h3> Notre But</h3>
<p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
           ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull
           amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehende
           rit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur si nt occae
           cat cupidatat non proident, sunt in culpa qui offi cia deserunt mollit anim id est laborum 
        </p>

</div>

 <body style ="background-image:url('{{ asset('image/apro.png') }}');"


  
    </body>
{% endblock %}

